.center{
    width: 1045px!important;
    background-color: transparent;
    margin: auto auto;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 44px;
    font-size: 12px;
    text-align: center;
}

.preview img{
    width: 72px;
    height: 72px;
    border-radius: 4px;
}

.preview{
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 30px!important;
    background: rgba(0, 0, 0, .85);
    border: 1px solid transparent;
    border-radius: 0px;
    border-radius: 0px;
    transition: .25s;
}



