*{
    margin:0;
    padding: 0;
}

body{
    background-size: cover;
    background: url("../images/bg3.jpg") no-repeat fixed center;
    text-align: center;
    font-family: "PingFang HK",sans-serif;
    padding: 70px 0;
}

#midDiv{
    padding-top: 20px;
    background-color: rgba(255,255,255,0.5);
    position: relative;
}

#memberImg{
    width: 300px;
    margin-bottom: 20px
}

.h1{
    padding-top: 20px;
}

a{
    font-size:23px;
    color: aliceblue;
}
